<header class="d-flex flex-column flex-md-row align-items-center p-3 px-md-4 mb-3 bg-white border-bottom shadow-sm">
  <nav class="nav">
    <div class="container-fluid navigation">
        <div class="logo">
          <a class="my-0 me-md-auto fw-normal logo" href="/">Music</a>
        </div>
        <div id="mainListDiv" class="main_list">
          <ul class="navlinks">
            <li><a class="nav-premium" href="/">Premium</a></li>
            <li><a class="nav-assist" href="/">Assistance</a></li>

            <li><a class="nav-login" href="/auth/register">S'inscrire</a></li>
            <li><a class="nav-login" href="/auth/login">Se connecter</a></li>
        
            </ul>
        </div>
    </div>
</nav>
  </header>

  