<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

<div class="contanier">
    <form action="/dashboard/edit/<%= musicSingle.MusicID %> ?_method=PUT" method="POST">
        <div class="mb-4">
          <h2 class="h4">Ajouter une musique</h2>
        </div>
    
        <!-- Lastname -->
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control form__input" name="Music_author" value="Music.Music_author">
          </div>
        </div>
    
        <!-- Firstname -->
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control form__input" name="Music__ft_author" placeholder="Music.Music__ft_author">
          </div>
        </div>
    
        <!-- Email -->
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control form__input" name="Music_name" placeholder="Music.Music_name">
          </div>
        </div>
    
        <!-- Password -->
        <div class="mb-3">
          <div class="input-group">
            <input type="text" class="form-control form__input" name="Music_date" placeholder="Music.Music_date">
          </div>
        </div>
    
        <button type="submit" class="btn btn-form-register">Terminer</button>
      </form>
</div>



<%- include('partials/footer.ejs') %>