<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>


    <div class="container_fluid header">
      <div class="container titre">
        <div class="text-title">
          <h1 class="title">La musique où vous voulez quand vous voulez !</h1>
        </div>
        <div class="link-decouverte">
          <a href="/auth/register" class="btn btn-decouverte"> <span>Découvrir maintenant !</span> </a>
        </div>
      </div>
    </div>


<%- include('partials/footer.ejs') %>
