<%- include('partials/header.ejs') %>
  <%- include('partials/navbar.ejs') %>

  <div class="login">


    <div class="container form-login">
      <div class="row ">
        <div class="col-md-12">
          <!-- Sign in -->

            <form action="" method="POST">
              <div class="mb-4">
                <h2 class="h4">Se Connecter</h2>
              </div>

              <!-- Email -->
              <div class="mb-3">
                <div class="input-group">
                  <input type="email" class="form-control form__input" name="email" placeholder="Votre email">
                </div>
              </div>

              <!-- Password -->
              <div class="mb-3">
                <div class="input-group">
                  <input type="password" class="form-control form__input" name="password" placeholder="Votre mot de passe">
                </div>
              </div>
              <button type="button" class="btn btn-form-redirect-register"> <a href="/auth/register">Pas de compte ? Inscrivez-vous maintenant ! </a> </button>
              <button type="submit" class="btn btn-form-login">Connexion</button>
            </form>
     
        </div>
      </div>
    </div>
  </div>


    <%- include('partials/footer.ejs') %>