<%- include('partials/header.ejs') %>
<%- include('partials/navbar.ejs') %>

<div class="container-fluid header-premium">

    <h1 class="title-premium">Passer à Music Premium dès maintenant !</h1>
    <p class="text-header-premium">Essayer Music Premium pour 9.99€ seulement ! Annuler à tout moment.</p>
    <a href="" class="btn linkpremiumPaying">Voir les abonnements</a>
</div>

<div class="container img-container-premium">
    <div class="row vrtgre">
        <div class="col-md-4 card-premium">
            <div class="img-premium">
                <img src="https://img.icons8.com/metro/100/ffffff/musical.png" />
                </p>
            </div>
            <h3 class="title-img-premium">Téléchargez votre musique.</h3>
            <p class="text-img-premium">Écoutez votre musique hors ligne.</p>
        </div>

        <div class="col-md-4 card-premium">
            <div class="img-premium">
                <img src="https://img.icons8.com/ios-filled/100/ffffff/commercial.png" />
            </div>
            <h3 class="title-img-premium">Pas de coupures publicitaires.</h3>
            <p class="text-img-premium">Profitez de vos titres sans interruption.</p>
        </div>

        <div class="col-md-4 card-premium">
            <div class="img-premium">
                <img src="https://img.icons8.com/pastel-glyph/100/ffffff/iphone-x--v1.png" />
            </div>
            <h3 class="title-img-premium">Écoutez les titres de votre choix.</h3>
            <p class="text-img-premium">Même sur votre mobile.</p>
        </div>
    </div>
</div>



<div class="container offre-premium">
    <h1 class="title-offre-premium">Les offres Premium</h1>

    <div class="row gfbtseu">
        <div class="col-md-4 card-offre-premium">
            <div class="aqbtyrg">
            <div class="header-offre-premium">
                <h4 class="title-header-premium">Etudiant</h4>
                <p class="text-header-offre-premium">4.99 €/mois sans engagement <span>1 compte</span></p>
            </div>
            <div class="content-offre-premium">
                <ul class="list-content-offre-premium">
                    <li>Tarif spécial pour les étudiant</li>
                    <li>Écoutez votre musique sans coupures pub</li>
                    <li>Écoutez votre musique partout - même hors connexion</li>
                </ul>
            </div>
            </div>
            <div class="footer-offre-premium">
                <a href="" class="btn btn-offre-premium">Commencer</a>
            </div>
        </div>

        <div class="col-md-4 card-offre-premium">
            <div class="aqbtyrg">
            <div class="header-offre-premium">
                <h4 class="title-header-premium">Personnel</h4>
                <p class="text-header-offre-premium">9.99 €/mois sans engagement <span>1 compte</span></p>
            </div>
            <div class="content-offre-premium">
                <ul class="list-content-offre-premium">
                    <li>Musique à la demande</li>
                    <li>Écoutez votre musique sans coupures pub</li>
                    <li>Écoutez votre musique partout - même hors connexion</li>

                </ul>
            </div>
        </div>
            <div class="footer-offre-premium">
                <a href="" class="btn btn-offre-premium">Commencer</a>
            </div>
        </div>

        <div class="col-md-4 card-offre-premium">
            <div class="aqbtyrg">
            <div class="header-offre-premium">
                <h4 class="title-header-premium">Famillial</h4>
                <p class="text-header-offre-premium">17.99 €/mois sans engagement <span>jusqu'à 5 compte</span></p>
            </div>
            <div class="content-offre-premium">
                <ul class="list-content-offre-premium">
                    <li>Six comptes Premium pour les membres de la famille qui vivent sous le même toit</li>
                    <li>Mix Famille : une playlist pour votre famille, régulièrement mise à jour avec des titres que vous aimez</li>
                    <li>Bloquez la musique au contenu explicite</li>
                    <li>De la musique sans pub et hors connexion. Écoutez n'importe quel titre à la demande.</li>
                    <li>Music Kids : une appli distincte réservée aux enfants</li>
                </ul>
            </div>
        </div>
            <div class="footer-offre-premium">
                <a href="" class="btn btn-offre-premium">Commencer</a>
            </div>
        </div>
    </div>





</div>





<%- include('partials/footer.ejs') %>