/* Navbar section =====================================*/
.nav {
  width: 100%;
  
}
.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #f8c008;
}

#mainListDiv{
  width: 800px;
  font-size: 22px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: rgb(0, 0, 0);
  line-height: 65px;
  font-size: 20px;
}

.nav div.main_list ul li a:hover {
  color: #f8c008;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

.nav-assist{
  margin-right: 50px;

}
/* NavbarMusic section =====================================*/
/* Navbar section =====================================*/
.nav {
  width: 100%;
  background: #00adfd;
}
.nav div.logo {
  float: left;
  width: auto;
  height: auto;
  padding-left: 3rem;
}

.nav div.logo a {
  text-decoration: none;
  color: #f8c008;
  font-size: 2.5rem;
}

.nav div.logo a:hover {
  color: #ffffff;
}

#mainListDiv{
  width: 800px;
  font-size: 22px;
}

.nav div.main_list ul {
  width: 100%;
  height: 65px;
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav div.main_list ul li {
  width: auto;
  height: 65px;
  padding: 0;
  padding-right: 3rem;
}

.nav div.main_list ul li a {
  text-decoration: none;
  color: #f8c008;
  line-height: 65px;
  font-size: 20px;
}

.nav div.main_list ul li a:hover {
  color: #ffffff;
}

.navigation{
  display: flex;
  justify-content: space-between;
}

.nav-assist{
  margin-right: 50px;
}


/*page d'accueil============================================*/
.header{
  height: 900px;
  background: url('/images/music_header.png') no-repeat;
}

.title{
  font-size: 120px;
}

.link-decouverte{
  margin-top: 50px;
  max-width: 336px;
  background: #f8c008;
  
  border-radius: 0px 0px 200px 200px;
  transition: 1200ms;
}

.link-decouverte:hover{
  border-radius: 200px 200px 0px 0px;
  transition: 600ms;
}

.btn-decouverte{
  font-size: 30px;
  padding: 5px 15px 5px 15px;
  transition: 600ms;
}

.btn-decouverte:hover{
  transform: translateY(10px);
  transition: 600ms;
}

/*page inscription====================================================*/
.register{
  width: 100%;
  height:900px;
  background: url('/images/music_register.jpg') no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.form-register{
  display: flex;
  justify-content: center;
  max-width: 60%;
  position: relative;
  top: 80px;
}

.form-register .row{
  width: 60%;
}
/*formulaire==============================*/
.btn-form-register{
  background: #f8c008;
  padding: 0px 40px 0px 40px;
  float: right;
  font-size: 180%;
  color: #ffffff;
  transition: 800ms;
}

.btn-form-register:hover{
  color: #f8c008;
  background: none;
  transition: 600ms;
}

/*page connexion====================================================*/
.login{
  width: 100%;
  height:700px;
  background: url('/images/music_login.jpg') no-repeat;
  display: flex;
  justify-content: center;
  text-align: center;
  
}

.form-login{
  display: flex;
  justify-content: center;
  max-width: 60%;
  position: relative;
  top: 80px;
}

.form-login .row{
  width: 60%;
}
/*formulaire==============================*/
.btn-form-login{
  background: #f8c008;
  padding: 0px 40px 0px 40px;
  float: right;
  font-size: 180%;
  color: #ffffff;
  transition: 800ms;
}

.btn-form-login:hover{
  color: #f8c008;
  background: none;
  transition: 600ms;
}

.btn-form-redirect-register a{
  font-size: 110%;
  float: left;
  color: black;
  position: relative;
  bottom: 20px;
  right: 40px;
}

.btn-form-redirect-register a:hover{
  color: #f8c008;
  text-decoration: none;
}

/*page Premium ====================================================*/

.header-premium{
  box-shadow: 0px -10px 10px #6b6b6b7a;
  background: #f8c008;
  height: 450px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.title-premium{
  position: relative;
  bottom: 20px;
  font-size: 300%;
}
.text-header-premium{
  position: relative;
  right: 170px;
  font-size: 110%;
}
.linkpremiumPaying{
  font-size: 125%;
  margin-top: 40px;
  padding: 8px 40px 8px 40px;
  border-radius: 150px;
  border: 4px solid #ffffff;
  transition: 400ms;
}
.linkpremiumPaying:hover{
  background: #ffffff;
  color:  #f8c008;
  transition: 400ms;
  
}

.vrtgre{
  width: 100%;
  
}
.img-container-premium{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
.card-premium{
  position: relative;
  bottom: 30px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.img-premium{
  background: #00adfd;
  border-radius: 80px;
  height: 160px;
  width: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-shadow: 0px -6px 0px #ffffff;
}
.img-premium img{
  color: #ffffff;
  
  position: relative;
  top: 20px;
}


/*Offre Premium===========================*/
.offre-premium{
  margin-top: 200px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-bottom: 500px;
}
.title-offre-premium{
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 80px;
}

.gfbtseu{
  display: flex;
  justify-content: space-between;
}
.card-offre-premium{
  background: #f8c008;
  box-shadow: inset 0px 18px 13px #ffffff;
  border: 5px solid #ffffff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 600px;
}

.text-header-offre-premium{
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #ffffff;
  padding-bottom: 20px;
}

.footer-offre-premium{
  text-align: center;
  top: 20px;
  position: relative;
}
.btn-offre-premium{
  text-align: center;
  border: 3px solid #ffffff;
  background: #ffffff;
  border-radius: 30px;
  padding: 10px 40px 10px 40px;
  font-size: 130%;
  transition: 200ms;
}
.btn-offre-premium:hover{
  transition: 200ms;
  background: #00adfd;
  border: 3px solid #00adfd;
  border-radius: 30px;
  color: #ffffff;
}

/*music-page=======================================*/
.music-page{
  height: 100%;
  width: 100%;
  background: #747474;
}
.listmusic{
  
}